  <div id="<%= dom_id cloth %>" class="container">
    <div class="container-left">
      <p>
        <strong>Name:</strong>
        <%= cloth.name %>
      </p>
    
      <p>
        <strong>User:</strong>
        <%= cloth.user_id %>
      </p>
    
      <p>
        <strong>Group:</strong>
        <%= cloth.group_id %>
      </p>
    
      <p>
        <strong>Author:</strong>
        <%= cloth.author_id %>
      </p>
    </div>
    <div class="container-right">
      <p>
        <strong>Amount:</strong>
        <%= cloth.amount %>
      </p>
    </div>
  </div>
