<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="blue-navigation">
        <ul>
          <li><%= link_to 'â†', groups_path %></li>
          <li><%= link_to @page_name,  request.path %></li>
        </ul>
      </nav>
      
      <footer>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </footer>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
