<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="blue-navigation">
        
        <%= link_to 'â†', root_path, class: 'nav-buttons first'%>
        
        <h1><%= link_to @page_name, request.path.split('/').reject(&:empty?).last %></h1>
        
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-buttons second' %>
        <% else %>
        <%= button_to 'Login', new_user_session_path, class: 'nav-buttons second display-none' %>
        <% end %>
      </nav>
      
    <%= yield %>
  </body>
</html>
